menu-list {
    width: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 5px;
    padding-top: 5px;
    height: auto;
    border: 1px solid #ef5350;
    display: block;
    box-shadow: 2px 2px #ef5350;
}
menu-title {
    font-size: 18px;
    font-weight: bold;
    color: wheat;
    border: 1px solid #ef5350;
    border-bottom-right-radius: 25%;
    background: #ef5350;
    padding: 5px;
}
url {
    display: block;
    padding-left: 5px;
    padding-top: 5px;
}
loc {
    display: none;
}
changefreq {
    display: none;
}
